.header {
    width: 100%;
    .dropdown-menu {
        padding: 20px;
        white-space: nowrap;
        a {
            display: block;
        }
    }
    .navbar-collapse {
        display: none;
    }
    &__top {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .logo {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
    &__middle {
        text-align: center;
    }
    .motto {
        color: #8f9bad;
        line-height: 1.1;
        font-size: 12px;
    }
    &__nav {
        border-top: solid 1px #ebebeb;
        padding: 20px 0;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__buttons {
            justify-content: flex-end;
        }
    }
}

@media screen and (min-width:992px) {
    .header {
        .navbar-collapse {
            display: flex;
        }
    }
}