.sidebar {
    display: none;
    &-part {
        border: solid 1px var(--border-color);
        padding: 35px 30px;
        margin-bottom: 40px;
        border-radius: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .sidebar { 
        display: block;
    }
}